    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596670648302961644.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596670648302961644.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596670648302961644.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596670648302961644.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-596670648302961644.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596670648302961644.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596670648302961644.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596670648302961644.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-596670648302961644.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596670648302961644.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596670648302961644.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596670648302961644.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596670648302961644.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-596670648302961644.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596670648302961644.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-596670648302961644.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596670648302961644.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596670648302961644.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-596670648302961644.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596670648302961644.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-596670648302961644.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596670648302961644.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596670648302961644.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596670648302961644.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-596670648302961644.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596670648302961644.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-596670648302961644.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596670648302961644.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-596670648302961644.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596670648302961644.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-596670648302961644.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596670648302961644.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596670648302961644.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596670648302961644.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596670648302961644.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596670648302961644.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596670648302961644.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596670648302961644.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596670648302961644.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596670648302961644.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596670648302961644.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-596670648302961644.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596670648302961644.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596670648302961644.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596670648302961644.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596670648302961644.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596670648302961644.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596670648302961644.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-596670648302961644.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596670648302961644.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-596670648302961644.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596670648302961644.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596670648302961644.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596670648302961644.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596670648302961644.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596670648302961644.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596670648302961644.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596670648302961644.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596670648302961644.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596670648302961644.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-596670648302961644.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596670648302961644.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596670648302961644.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-596670648302961644.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596670648302961644.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596670648302961644.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-596670648302961644.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-596670648302961644.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-596670648302961644.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596670648302961644.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596670648302961644.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-596670648302961644.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596670648302961644.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596670648302961644.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-596670648302961644.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-596670648302961644.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-596670648302961644.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596670648302961644.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596670648302961644.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-596670648302961644.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-596670648302961644.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596670648302961644.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-596670648302961644.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-596670648302961644.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-596670648302961644.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596670648302961644.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596670648302961644.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596670648302961644.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-596670648302961644.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-596670648302961644.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596670648302961644.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596670648302961644.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-596670648302961644.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-596670648302961644.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-596670648302961644.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-596670648302961644.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-596670648302961644.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596670648302961644.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596670648302961644.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596670648302961644.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596670648302961644.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-596670648302961644.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596670648302961644.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-596670648302961644.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596670648302961644.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-596670648302961644 .-gp-translate-x-1\/2,.gps-596670648302961644 .-gp-translate-y-1\/2,.gps-596670648302961644 .gp-rotate-0,.gps-596670648302961644 .gp-rotate-180,.gps-596670648302961644 .mobile\:gp-rotate-0,.gps-596670648302961644 .mobile\:gp-rotate-180,.gps-596670648302961644 .tablet\:gp-rotate-0,.gps-596670648302961644 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-596670648302961644 .gp-absolute{position:absolute}.gps-596670648302961644 .gp-relative{position:relative}.gps-596670648302961644 .gp-left-0{left:0}.gps-596670648302961644 .gp-left-1\/2{left:50%}.gps-596670648302961644 .gp-right-0{right:0}.gps-596670648302961644 .gp-top-0{top:0}.gps-596670648302961644 .gp-top-1\/2{top:50%}.gps-596670648302961644 .gp-z-1{z-index:1}.gps-596670648302961644 .gp-z-10{z-index:10}.gps-596670648302961644 .gp-z-2{z-index:2}.gps-596670648302961644 .gp-z-9{z-index:9}.gps-596670648302961644 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596670648302961644 .gp-my-0{margin-bottom:0;margin-top:0}.gps-596670648302961644 .gp-mb-0{margin-bottom:0}.gps-596670648302961644 .gp-block{display:block}.gps-596670648302961644 .gp-flex{display:flex}.gps-596670648302961644 .gp-inline-flex{display:inline-flex}.gps-596670648302961644 .gp-grid{display:grid}.gps-596670648302961644 .\!gp-hidden{display:none!important}.gps-596670648302961644 .gp-hidden{display:none}.gps-596670648302961644 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-596670648302961644 .gp-h-full{height:100%}.gps-596670648302961644 .\!gp-min-h-full{min-height:100%!important}.gps-596670648302961644 .gp-w-14{width:56px}.gps-596670648302961644 .gp-w-5{width:20px}.gps-596670648302961644 .gp-w-full{width:100%}.gps-596670648302961644 .\!gp-max-w-none{max-width:none!important}.gps-596670648302961644 .gp-max-w-full{max-width:100%}.gps-596670648302961644 .gp-flex-1{flex:1 1 0%}.gps-596670648302961644 .gp-shrink-0{flex-shrink:0}.gps-596670648302961644 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-596670648302961644 .-gp-translate-x-1\/2,.gps-596670648302961644 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596670648302961644 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-596670648302961644 .gp-rotate-0{--tw-rotate:0deg}.gps-596670648302961644 .gp-rotate-0,.gps-596670648302961644 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596670648302961644 .gp-rotate-180{--tw-rotate:180deg}.gps-596670648302961644 .gp-cursor-pointer{cursor:pointer}.gps-596670648302961644 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-596670648302961644 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596670648302961644 .\!gp-flex-row{flex-direction:row!important}.gps-596670648302961644 .gp-flex-row{flex-direction:row}.gps-596670648302961644 .gp-flex-col{flex-direction:column}.gps-596670648302961644 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-596670648302961644 .gp-items-center{align-items:center}.gps-596670648302961644 .gp-justify-center{justify-content:center}.gps-596670648302961644 .gp-justify-between{justify-content:space-between}.gps-596670648302961644 .gp-gap-2{gap:8px}.gps-596670648302961644 .gp-overflow-hidden{overflow:hidden}.gps-596670648302961644 .gp-break-words{overflow-wrap:break-word}.gps-596670648302961644 .gp-rounded{border-radius:4px}.gps-596670648302961644 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-596670648302961644 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-596670648302961644 .gp-bg-cover{background-size:cover}.gps-596670648302961644 .gp-bg-center{background-position:50%}.gps-596670648302961644 .gp-text-center{text-align:center}.gps-596670648302961644 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-596670648302961644 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-596670648302961644 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-596670648302961644 .gp-no-underline{text-decoration-line:none}.gps-596670648302961644 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596670648302961644 .gp-duration-200{transition-duration:.2s}.gps-596670648302961644 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596670648302961644 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-596670648302961644 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-596670648302961644 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-596670648302961644 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-596670648302961644 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-596670648302961644 .tablet\:gp-absolute{position:absolute}.gps-596670648302961644 .tablet\:gp-left-0{left:0}.gps-596670648302961644 .tablet\:gp-right-0{right:0}.gps-596670648302961644 .tablet\:gp-block{display:block}.gps-596670648302961644 .tablet\:\!gp-hidden{display:none!important}.gps-596670648302961644 .tablet\:gp-hidden{display:none}.gps-596670648302961644 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-596670648302961644 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-596670648302961644 .tablet\:gp-rotate-0,.gps-596670648302961644 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596670648302961644 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-596670648302961644 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-596670648302961644 .tablet\:gp-flex-row{flex-direction:row}.gps-596670648302961644 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-596670648302961644 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-596670648302961644 .mobile\:gp-absolute{position:absolute}.gps-596670648302961644 .mobile\:gp-left-0{left:0}.gps-596670648302961644 .mobile\:gp-right-0{right:0}.gps-596670648302961644 .mobile\:gp-block{display:block}.gps-596670648302961644 .mobile\:\!gp-hidden{display:none!important}.gps-596670648302961644 .mobile\:gp-hidden{display:none}.gps-596670648302961644 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-596670648302961644 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-596670648302961644 .mobile\:gp-rotate-0,.gps-596670648302961644 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-596670648302961644 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-596670648302961644 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-596670648302961644 .mobile\:gp-flex-row{flex-direction:row}.gps-596670648302961644 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-596670648302961644 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-596670648302961644 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-596670648302961644 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-596670648302961644 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-596670648302961644 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-596670648302961644 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-596670648302961644 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-596670648302961644 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gRwo33mOgG"}' data-id="gRwo33mOgG" id="gRwo33mOgG" data-same-height-subgrid-container class="gRwo33mOgG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:100px;--pl:20px;--pb:100px;--pr:20px;--pt-mobile:70px;--pl-mobile:0px;--pb-mobile:70px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g9OPwHoo1H gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbzoZk7Sas"
        class="gbzoZk7Sas"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pl:0px;--pr:32px;--mt-mobile:0px;--mb-mobile:42px;--pl-mobile:20px;--pr-mobile:20px;--mb-tablet:48px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:40px;--size-mobile:40px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbzoZk7Sas_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gK60w7qB_y"}' data-id="gK60w7qB_y" id="gK60w7qB_y" data-same-height-subgrid-container class="gK60w7qB_y gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:1"
      class="g0zclsX4TE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGUO84HELI"}' data-id="gGUO84HELI" id="gGUO84HELI" data-same-height-subgrid-container class="gGUO84HELI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pr:32px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gK_FPLhglA gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gukt-io0Fe"
        class="gukt-io0Fe"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pl:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:42px;--mb-tablet:48px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:40px;--size-mobile:40px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggukt-io0Fe_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKizyqKYUR"}' data-id="gKizyqKYUR" id="gKizyqKYUR" data-same-height-subgrid-container class="gKizyqKYUR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:24px;--pb:24px;--pr:0px;--mt-mobile:42px;--pt-mobile:21px;--pb-mobile:21px;--cg:44px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gqyAZZRy-a gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfMLKs858R"
        class="gfMLKs858R"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#313B1B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfMLKs858R_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gfMLKs858R">
        .gfMLKs858R {

}
.gfMLKs858R p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="g_Z2P4S6HR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXLfTwLXxh"
        class="gXLfTwLXxh"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXLfTwLXxh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gXLfTwLXxh">
        .gXLfTwLXxh {

}
.gXLfTwLXxh p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFUofQwTHC"}' data-id="gFUofQwTHC" id="gFUofQwTHC" data-same-height-subgrid-container class="gFUofQwTHC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:24px;--pb:24px;--pr:0px;--pt-mobile:21px;--pb-mobile:21px;--cg:44px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="ggzxp4n-km gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkPYgjovnM"
        class="gkPYgjovnM"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#313B1B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkPYgjovnM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gkPYgjovnM">
        .gkPYgjovnM {

}
.gkPYgjovnM p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gOAtfZTxrc gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggJ6s4-Ti1"
        class="ggJ6s4-Ti1"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggJ6s4-Ti1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ggJ6s4-Ti1">
        .ggJ6s4-Ti1 {

}
.ggJ6s4-Ti1 p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g78dqfZyJM"}' data-id="g78dqfZyJM" id="g78dqfZyJM" data-same-height-subgrid-container class="g78dqfZyJM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#CCCCCC;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:24px;--pb:24px;--pr:0px;--mb-mobile:21px;--pt-mobile:21px;--pb-mobile:21px;--cg:44px;--cg-mobile:14px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="gglpy1cUvs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gInkGuK8OE"
        class="gInkGuK8OE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#313B1B;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggInkGuK8OE_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gInkGuK8OE">
        .gInkGuK8OE {

}
.gInkGuK8OE p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center;--jc-mobile:start"
      class="g4MVOylRFj gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g51mD5cXkn"
        class="g51mD5cXkn"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg51mD5cXkn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g51mD5cXkn">
        .g51mD5cXkn {

}
.g51mD5cXkn p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"#gDKo7uU22Q","selectedTab":"scrollToList","target":"_self","title":"Section"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gfRCIB5f_7"].gp-button-base::before, [data-id="gfRCIB5f_7-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
  
    }
  
      
  [data-id="gfRCIB5f_7"]:hover::before, [data-id="gfRCIB5f_7-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gDKo7uU22Q
            target=_self
          ></a>
        <a
          data-id="gfRCIB5f_7" dataId="gfRCIB5f_7" data-state="idle" aria-label="Buy It Now"
          
          href="#gDKo7uU22Q" target="_self"
          style="--w:278px;--w-tablet:278px;--w-mobile:100%;--h:49px;--h-tablet:49px;--h-mobile:42px;--pl:auto;--pr:auto;--pt:auto;--pb:auto;--pl-mobile:auto;--pr-mobile:auto;--pt-mobile:auto;--pb-mobile:auto;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--hvr-bblr:4px;--hvr-bbrr:4px;--hvr-btlr:4px;--hvr-btrr:4px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#404D25;--bg:#293314;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:capitalize"
          class="gfRCIB5f_7 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:capitalize;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggfRCIB5f_7_label | downcase }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gfRCIB5f_7">
        button.gfRCIB5f_7 {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o-mobile:0"
      class="gDyaVA1xeB gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel gp-data='{"id":"g2DquZCsQM","setting":{"animationMode":"ease-out","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"enableDrag":{"desktop":true,"mobile":true},"itemNumber":{"desktop":2},"label":true,"loop":{"desktop":true,"mobile":true},"navigationEnable":{"desktop":false,"mobile":false,"tablet":false},"navigationStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false,"mobile":true},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":62},"sneakPeakType":{"desktop":"center","mobile":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":"8"}}}' data-id="g2DquZCsQM" id="gp-root-carousel-g2DquZCsQM" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="g2DquZCsQM gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:20px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w)"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-g2DquZCsQM g2DquZCsQM gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:3px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-g2DquZCsQM {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g2DquZCsQM::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-g2DquZCsQM {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-g2DquZCsQM::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-g2DquZCsQM {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-g2DquZCsQM::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
          <div id="gp-carousel-g2DquZCsQM" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-g2DquZCsQM mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:8px;--cg-tablet:8px;--cg:8px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g2DquZCsQM gp-child-item-g2DquZCsQM gCA5Z2EIcX"
      style="--minw:calc(100% / 2 - 4px);--minw-tablet:calc(100% / 2 - 4px);--minw-mobile:calc(100% / 1.38 - 2.2028985507246372px);--maxw:calc(100% / 2 - 4px);--maxw-tablet:calc(100% / 2 - 4px);--maxw-mobile:calc(100% / 1.38 - 2.2028985507246372px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bs:none"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gkzG_7af2a" class="gkzG_7af2a !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:auto">
      
    <gp-lite-vimeo-embed gp-data='{"id":"347119375","thumbnail":"https://cdn.shopify.com/s/files/1/0964/6299/5758/files/Rectangle_3274.png","lazy":true,"iframeSrc":"https://player.vimeo.com/video/347119375?&autoplay=1&muted=1&loop=0&controls=true&autopause=false","title":"Video","autoplay":false,"muted":true,"style":{"--aspect":"auto"}}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article"
        data-title="Video"
        style="backgroundImage:url();--aspect:auto"
      >
      
    <img
      width="576" height="1024" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTc2IiBoZWlnaHQ9IjEwMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTU3Ni0xMDI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI1NzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTc2IiBoZWlnaHQ9IjEwMjQiIGZpbGw9InVybCgjZy01NzYtMTAyNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTU3NiIgdG89IjU3NiIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" base-src="{{ "Rectangle_3274.png" | file_url }}" data-src="{{ "Rectangle_3274.png" | file_url }}" data-srcset="{{ "Rectangle_3274.png" | file_url }}"
      id=""
      
      class="gp-h-full gp-w-full gp-relative gp-top-0 gp-left-0 gp-z-9 gp_lazyload"
    />
         
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-z-10 gp-lite-vimeo-embed-button" aria-label="Play">
          <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-vimeo-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gkzG_7af2a">
        .gkzG_7af2a[data-component-label="Video"] {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g2DquZCsQM gp-child-item-g2DquZCsQM gNMzYIOP7W"
      style="--minw:calc(100% / 2 - 4px);--minw-tablet:calc(100% / 2 - 4px);--minw-mobile:calc(100% / 1.38 - 2.2028985507246372px);--maxw:calc(100% / 2 - 4px);--maxw-tablet:calc(100% / 2 - 4px);--maxw-mobile:calc(100% / 1.38 - 2.2028985507246372px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bs:none"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
       data-id="gLtXTB9jSw" class="gLtXTB9jSw !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:9/16">
      
    <gp-lite-vimeo-embed gp-data='{"id":"347119375","thumbnail":"https://cdn.shopify.com/s/files/1/0964/6299/5758/files/Rectangle_3275.png","lazy":true,"iframeSrc":"https://player.vimeo.com/video/347119375?&autoplay=1&muted=1&loop=0&controls=true&autopause=false","title":"Video","autoplay":false,"muted":true,"style":{"--aspect":"9/16"}}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-vimeo-embed-article"
        data-title="Video"
        style="backgroundImage:url();--aspect:9/16"
      >
      
    <img
      width="576" height="1024" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTc2IiBoZWlnaHQ9IjEwMjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTU3Ni0xMDI0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSI1NzYiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTc2IiBoZWlnaHQ9IjEwMjQiIGZpbGw9InVybCgjZy01NzYtMTAyNCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTU3NiIgdG89IjU3NiIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" base-src="{{ "Rectangle_3275.png" | file_url }}" data-src="{{ "Rectangle_3275.png" | file_url }}" data-srcset="{{ "Rectangle_3275.png" | file_url }}"
      id=""
      
      class="gp-h-full gp-w-full gp-relative gp-top-0 gp-left-0 gp-z-9 gp_lazyload"
    />
         
          <button type="button" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800] gp-z-10 gp-lite-vimeo-embed-button" aria-label="Play">
          <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
            <path
              fill="currentColor"
              d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
            />
          </svg>
        </button>
        
      </article>
    </gp-lite-vimeo-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-vimeo-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
      <style id="custom-css-gLtXTB9jSw">
        .gLtXTB9jSw[data-component-label="Video"] {

}
      </style>
    
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-g2DquZCsQM g2DquZCsQM gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:3px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-g2DquZCsQM {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g2DquZCsQM::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-g2DquZCsQM {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-g2DquZCsQM::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-g2DquZCsQM {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-g2DquZCsQM::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-g2DquZCsQM gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-596670648302961644 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/code2goo/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596670602450830310&sectionId=596670648302961644)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggbzoZk7Sas_text","label":"ggbzoZk7Sas_text","default":"Nourish, hydrate, and soften with our skin cream."},{"type":"html","id":"ggukt-io0Fe_text","label":"ggukt-io0Fe_text","default":"Nourish, hydrate, and soften with our skin cream."},{"type":"html","id":"ggfMLKs858R_text","label":"ggfMLKs858R_text","default":"<p>97%</p>"},{"type":"html","id":"ggXLfTwLXxh_text","label":"ggXLfTwLXxh_text","default":"<p>Our skin cream effectively unclogs pores, leaving your skin feeling refreshed and clean.</p>"},{"type":"html","id":"ggkPYgjovnM_text","label":"ggkPYgjovnM_text","default":"<p>94%</p>"},{"type":"html","id":"gggJ6s4-Ti1_text","label":"gggJ6s4-Ti1_text","default":"<p>Our skin cream works wonders in maintaining healthy skin, preventing dryness, and keeping breakouts at bay.</p>"},{"type":"html","id":"ggInkGuK8OE_text","label":"ggInkGuK8OE_text","default":"<p>92%</p>"},{"type":"html","id":"gg51mD5cXkn_text","label":"gg51mD5cXkn_text","default":"<p>Soothe and calm your skin with our skin cream's gentle formula, perfect for sensitive or irritated skin.</p>"},{"type":"html","id":"ggfRCIB5f_7_label","label":"ggfRCIB5f_7_label","default":"Buy It Now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}