    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596670648873386598.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596670648873386598.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596670648873386598.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596670648873386598.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596670648873386598.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596670648873386598.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596670648873386598.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596670648873386598.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596670648873386598.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596670648873386598.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596670648873386598.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596670648873386598.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596670648873386598.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596670648873386598.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596670648873386598.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596670648873386598.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596670648873386598.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596670648873386598.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596670648873386598.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596670648873386598.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596670648873386598.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596670648873386598.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596670648873386598.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596670648873386598.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596670648873386598.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596670648873386598.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596670648873386598.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596670648873386598.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596670648873386598.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596670648873386598.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596670648873386598.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596670648873386598.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596670648873386598.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596670648873386598.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596670648873386598.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-596670648873386598.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596670648873386598.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596670648873386598.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596670648873386598.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596670648873386598.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596670648873386598.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596670648873386598.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596670648873386598.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596670648873386598.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596670648873386598.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596670648873386598.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596670648873386598.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596670648873386598.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596670648873386598.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-596670648873386598.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596670648873386598.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596670648873386598.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596670648873386598.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-596670648873386598.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596670648873386598.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596670648873386598.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596670648873386598.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596670648873386598.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596670648873386598.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-596670648873386598.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596670648873386598.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596670648873386598.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596670648873386598.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596670648873386598.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596670648873386598.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-596670648873386598.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-596670648873386598.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-596670648873386598.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-596670648873386598.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596670648873386598.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596670648873386598.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596670648873386598.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596670648873386598.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596670648873386598.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596670648873386598.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-596670648873386598 .gp-relative{position:relative}.gps-596670648873386598 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596670648873386598 .gp-mb-0{margin-bottom:0}.gps-596670648873386598 .gp-flex{display:flex}.gps-596670648873386598 .gp-inline-flex{display:inline-flex}.gps-596670648873386598 .gp-grid{display:grid}.gps-596670648873386598 .\!gp-hidden{display:none!important}.gps-596670648873386598 .gp-hidden{display:none}.gps-596670648873386598 .gp-max-w-full{max-width:100%}.gps-596670648873386598 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596670648873386598 .gp-flex-col{flex-direction:column}.gps-596670648873386598 .gp-items-center{align-items:center}.gps-596670648873386598 .gp-justify-center{justify-content:center}.gps-596670648873386598 .gp-overflow-hidden{overflow:hidden}.gps-596670648873386598 .gp-leading-\[0\]{line-height:0}.gps-596670648873386598 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-596670648873386598 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596670648873386598 .gp-duration-200{transition-duration:.2s}.gps-596670648873386598 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-596670648873386598 .tablet\:\!gp-hidden{display:none!important}.gps-596670648873386598 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-596670648873386598 .mobile\:\!gp-hidden{display:none!important}.gps-596670648873386598 .mobile\:gp-hidden{display:none}}.gps-596670648873386598 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-596670648873386598 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-596670648873386598 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-596670648873386598 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-596670648873386598 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNrT3v3iCL"}' data-id="gNrT3v3iCL" id="gNrT3v3iCL" data-same-height-subgrid-container class="gNrT3v3iCL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:100px;--pb:100px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--pt-tablet:100px;--pl-tablet:20px;--pb-tablet:100px;--pr-tablet:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gSNjJJuZzE gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNr_5GKJeJ"}' data-id="gNr_5GKJeJ" id="gNr_5GKJeJ" data-same-height-subgrid-container class="gNr_5GKJeJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pb:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:790px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpNO4W2yqe gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gk2Sgi8IVM"
        class="gk2Sgi8IVM"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:48px;--pl:0px;--mt-mobile:0px;--mb-mobile:42px;--pt-mobile:0px;--mb-tablet:48px;--pl-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--size:40px;--size-tablet:40px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggk2Sgi8IVM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdqFvQkMrc"}' data-id="gdqFvQkMrc" id="gdqFvQkMrc" data-same-height-subgrid-container class="gdqFvQkMrc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 0px 0px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:24px;--pl-mobile:7px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:790px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gfQFSJct0A gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gMXJVlD-xR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#313B1B","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gMLMG-Kdj-"}' data-id="gMLMG-Kdj-" id="gMLMG-Kdj-" data-same-height-subgrid-container class="gMLMG-Kdj- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:10px;--btrr:10px;--mt:0px;--pt:27px;--pb:27px;--mt-mobile:-1px;--pt-mobile:24px;--pb-mobile:24px;--cg:8px;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:#313B1B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1gOIB557i gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwCExnOGtx"
        class="gwCExnOGtx"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:28px;--size-tablet:28px;--size-mobile:18px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--ls:normal;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwCExnOGtx_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7LReiPTdr"
        class="g7LReiPTdr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:300;--size:13px;--size-tablet:13px;--size-mobile:8px;--lh:100%;--lh-tablet:100%;--lh-mobile:100%;--ls:7px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:10px;--pl-mobile:8px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7LReiPTdr_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g7LReiPTdr">
        .g7LReiPTdr {

}
.g7LReiPTdr p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g0gifV0cbO gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRqVqNOg3t"
        class="gRqVqNOg3t"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRqVqNOg3t_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gRqVqNOg3t">
        .gRqVqNOg3t {

}
.gRqVqNOg3t p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxv4xa0FJi"}' data-id="gxv4xa0FJi" id="gxv4xa0FJi" data-same-height-subgrid-container class="gxv4xa0FJi gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:24px;--pl-mobile:7px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:790px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g-TV6m7v7u gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghIheYeQbe"
        class="ghIheYeQbe"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pr-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghIheYeQbe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ghIheYeQbe">
        .ghIheYeQbe {

}
.ghIheYeQbe p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g0vxPcXxMT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#313B1B","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGCYdhhzTO"}' data-id="gGCYdhhzTO" id="gGCYdhhzTO" data-same-height-subgrid-container class="gGCYdhhzTO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-1px;--pt:24px;--pb:24px;--mt-mobile:-1px;--pt-mobile:23px;--pb-mobile:23px;--cg:8px;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:#313B1B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdZBn2MzBI gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gzKETI8rZp" class="gp-leading-[0] gzKETI8rZp" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gzKETI8rZp" class="icon-wrapper gp-inline-flex gp-overflow-hidden gzKETI8rZp " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668274696520854" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M21.5 10.5C21.5 13.2848 20.3938 15.9555 18.4246 17.9246C16.4555 19.8938 13.7848 21 11 21C8.21523 21 5.54451 19.8938 3.57538 17.9246C1.60625 15.9555 0.5 13.2848 0.5 10.5C0.5 7.71523 1.60625 5.04451 3.57538 3.07538C5.54451 1.10625 8.21523 0 11 0C13.7848 0 16.4555 1.10625 18.4246 3.07538C20.3938 5.04451 21.5 7.71523 21.5 10.5ZM16.2894 6.52312C16.1956 6.4297 16.084 6.35614 15.9612 6.30685C15.8383 6.25755 15.7068 6.23353 15.5745 6.23623C15.4422 6.23892 15.3117 6.26828 15.191 6.32253C15.0703 6.37679 14.9617 6.45483 14.8719 6.552L10.3136 12.3598L7.5665 9.61144C7.3799 9.43756 7.13308 9.3429 6.87806 9.3474C6.62304 9.35189 6.37973 9.4552 6.19937 9.63556C6.01902 9.81591 5.91571 10.0592 5.91121 10.3143C5.90671 10.5693 6.00137 10.8161 6.17525 11.0027L9.64812 14.4769C9.74168 14.5703 9.85309 14.6438 9.9757 14.6932C10.0983 14.7426 10.2296 14.7668 10.3618 14.7644C10.494 14.7619 10.6243 14.7329 10.745 14.679C10.8657 14.6251 10.9743 14.5474 11.0643 14.4506L16.3038 7.90125C16.4824 7.71553 16.5811 7.46717 16.5787 7.20951C16.5762 6.95184 16.4728 6.70541 16.2907 6.52312H16.2894Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gFErU7NqWy gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gND5o8UFy6" class="gp-leading-[0] gND5o8UFy6" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gND5o8UFy6" class="icon-wrapper gp-inline-flex gp-overflow-hidden gND5o8UFy6 " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668406213117078" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M6.59709 6.09905C6.65805 6.03793 6.73047 5.98945 6.8102 5.95636C6.88993 5.92328 6.9754 5.90625 7.06172 5.90625C7.14804 5.90625 7.23351 5.92328 7.31324 5.95636C7.39297 5.98945 7.46538 6.03793 7.52634 6.09905L10.9992 9.57324L14.4721 6.09905C14.5331 6.03803 14.6055 5.98963 14.6853 5.95661C14.765 5.92359 14.8504 5.90659 14.9367 5.90659C15.023 5.90659 15.1085 5.92359 15.1882 5.95661C15.2679 5.98963 15.3403 6.03803 15.4013 6.09905C15.4624 6.16006 15.5108 6.2325 15.5438 6.31222C15.5768 6.39194 15.5938 6.47738 15.5938 6.56367C15.5938 6.64996 15.5768 6.73541 15.5438 6.81513C15.5108 6.89485 15.4624 6.96728 15.4013 7.0283L11.9272 10.5012L15.4013 13.974C15.4624 14.0351 15.5108 14.1075 15.5438 14.1872C15.5768 14.2669 15.5938 14.3524 15.5938 14.4387C15.5938 14.525 15.5768 14.6104 15.5438 14.6901C15.5108 14.7698 15.4624 14.8423 15.4013 14.9033C15.3403 14.9643 15.2679 15.0127 15.1882 15.0457C15.1085 15.0788 15.023 15.0958 14.9367 15.0958C14.8504 15.0958 14.765 15.0788 14.6853 15.0457C14.6055 15.0127 14.5331 14.9643 14.4721 14.9033L10.9992 11.4291L7.52634 14.9033C7.46533 14.9643 7.39289 15.0127 7.31317 15.0457C7.23345 15.0788 7.14801 15.0958 7.06172 15.0958C6.97543 15.0958 6.88999 15.0788 6.81027 15.0457C6.73055 15.0127 6.65811 14.9643 6.59709 14.9033C6.53608 14.8423 6.48768 14.7698 6.45466 14.6901C6.42164 14.6104 6.40464 14.525 6.40464 14.4387C6.40464 14.3524 6.42164 14.2669 6.45466 14.1872C6.48768 14.1075 6.53608 14.0351 6.59709 13.974L10.0713 10.5012L6.59709 7.0283C6.53598 6.96734 6.48749 6.89492 6.45441 6.81519C6.42133 6.73546 6.4043 6.64999 6.4043 6.56367C6.4043 6.47735 6.42133 6.39188 6.45441 6.31215C6.48749 6.23243 6.53598 6.16001 6.59709 6.09905Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkFLREC0IR"}' data-id="gkFLREC0IR" id="gkFLREC0IR" data-same-height-subgrid-container class="gkFLREC0IR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:24px;--pl-mobile:7px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:790px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gwWLrE-aQQ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbm3RkMrKV"
        class="gbm3RkMrKV"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pr-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbm3RkMrKV_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gbm3RkMrKV">
        .gbm3RkMrKV {

}
.gbm3RkMrKV p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gLRZCKxxwj gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#313B1B","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzzVWlCPae"}' data-id="gzzVWlCPae" id="gzzVWlCPae" data-same-height-subgrid-container class="gzzVWlCPae gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-1px;--pt:24px;--pb:24px;--mt-mobile:-1px;--pt-mobile:23px;--pb-mobile:23px;--cg:8px;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:#313B1B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnJVA2ZnEB gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gZBdguq_cy" class="gp-leading-[0] gZBdguq_cy" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gZBdguq_cy" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZBdguq_cy " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668274696520854" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M21.5 10.5C21.5 13.2848 20.3938 15.9555 18.4246 17.9246C16.4555 19.8938 13.7848 21 11 21C8.21523 21 5.54451 19.8938 3.57538 17.9246C1.60625 15.9555 0.5 13.2848 0.5 10.5C0.5 7.71523 1.60625 5.04451 3.57538 3.07538C5.54451 1.10625 8.21523 0 11 0C13.7848 0 16.4555 1.10625 18.4246 3.07538C20.3938 5.04451 21.5 7.71523 21.5 10.5ZM16.2894 6.52312C16.1956 6.4297 16.084 6.35614 15.9612 6.30685C15.8383 6.25755 15.7068 6.23353 15.5745 6.23623C15.4422 6.23892 15.3117 6.26828 15.191 6.32253C15.0703 6.37679 14.9617 6.45483 14.8719 6.552L10.3136 12.3598L7.5665 9.61144C7.3799 9.43756 7.13308 9.3429 6.87806 9.3474C6.62304 9.35189 6.37973 9.4552 6.19937 9.63556C6.01902 9.81591 5.91571 10.0592 5.91121 10.3143C5.90671 10.5693 6.00137 10.8161 6.17525 11.0027L9.64812 14.4769C9.74168 14.5703 9.85309 14.6438 9.9757 14.6932C10.0983 14.7426 10.2296 14.7668 10.3618 14.7644C10.494 14.7619 10.6243 14.7329 10.745 14.679C10.8657 14.6251 10.9743 14.5474 11.0643 14.4506L16.3038 7.90125C16.4824 7.71553 16.5811 7.46717 16.5787 7.20951C16.5762 6.95184 16.4728 6.70541 16.2907 6.52312H16.2894Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gsmdPOkLYo gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gQ3FpAVyBs" class="gp-leading-[0] gQ3FpAVyBs" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gQ3FpAVyBs" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQ3FpAVyBs " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668406213117078" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M6.59709 6.09905C6.65805 6.03793 6.73047 5.98945 6.8102 5.95636C6.88993 5.92328 6.9754 5.90625 7.06172 5.90625C7.14804 5.90625 7.23351 5.92328 7.31324 5.95636C7.39297 5.98945 7.46538 6.03793 7.52634 6.09905L10.9992 9.57324L14.4721 6.09905C14.5331 6.03803 14.6055 5.98963 14.6853 5.95661C14.765 5.92359 14.8504 5.90659 14.9367 5.90659C15.023 5.90659 15.1085 5.92359 15.1882 5.95661C15.2679 5.98963 15.3403 6.03803 15.4013 6.09905C15.4624 6.16006 15.5108 6.2325 15.5438 6.31222C15.5768 6.39194 15.5938 6.47738 15.5938 6.56367C15.5938 6.64996 15.5768 6.73541 15.5438 6.81513C15.5108 6.89485 15.4624 6.96728 15.4013 7.0283L11.9272 10.5012L15.4013 13.974C15.4624 14.0351 15.5108 14.1075 15.5438 14.1872C15.5768 14.2669 15.5938 14.3524 15.5938 14.4387C15.5938 14.525 15.5768 14.6104 15.5438 14.6901C15.5108 14.7698 15.4624 14.8423 15.4013 14.9033C15.3403 14.9643 15.2679 15.0127 15.1882 15.0457C15.1085 15.0788 15.023 15.0958 14.9367 15.0958C14.8504 15.0958 14.765 15.0788 14.6853 15.0457C14.6055 15.0127 14.5331 14.9643 14.4721 14.9033L10.9992 11.4291L7.52634 14.9033C7.46533 14.9643 7.39289 15.0127 7.31317 15.0457C7.23345 15.0788 7.14801 15.0958 7.06172 15.0958C6.97543 15.0958 6.88999 15.0788 6.81027 15.0457C6.73055 15.0127 6.65811 14.9643 6.59709 14.9033C6.53608 14.8423 6.48768 14.7698 6.45466 14.6901C6.42164 14.6104 6.40464 14.525 6.40464 14.4387C6.40464 14.3524 6.42164 14.2669 6.45466 14.1872C6.48768 14.1075 6.53608 14.0351 6.59709 13.974L10.0713 10.5012L6.59709 7.0283C6.53598 6.96734 6.48749 6.89492 6.45441 6.81519C6.42133 6.73546 6.4043 6.64999 6.4043 6.56367C6.4043 6.47735 6.42133 6.39188 6.45441 6.31215C6.48749 6.23243 6.53598 6.16001 6.59709 6.09905Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAXKUy8jXR"}' data-id="gAXKUy8jXR" id="gAXKUy8jXR" data-same-height-subgrid-container class="gAXKUy8jXR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:24px;--pl-mobile:7px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:790px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gB8OYMgBgm gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOGodoJR5n"
        class="gOGodoJR5n"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pr-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOGodoJR5n_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gOGodoJR5n">
        .gOGodoJR5n {

}
.gOGodoJR5n p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gnTJda92wX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#313B1B","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkH3jpbzMf"}' data-id="gkH3jpbzMf" id="gkH3jpbzMf" data-same-height-subgrid-container class="gkH3jpbzMf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-1px;--pt:24px;--pb:24px;--mt-mobile:-1px;--pt-mobile:23px;--pb-mobile:23px;--cg:8px;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:#313B1B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBh0b7Ooni gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gFmUjQ_dXu" class="gp-leading-[0] gFmUjQ_dXu" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gFmUjQ_dXu" class="icon-wrapper gp-inline-flex gp-overflow-hidden gFmUjQ_dXu " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668274696520854" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M21.5 10.5C21.5 13.2848 20.3938 15.9555 18.4246 17.9246C16.4555 19.8938 13.7848 21 11 21C8.21523 21 5.54451 19.8938 3.57538 17.9246C1.60625 15.9555 0.5 13.2848 0.5 10.5C0.5 7.71523 1.60625 5.04451 3.57538 3.07538C5.54451 1.10625 8.21523 0 11 0C13.7848 0 16.4555 1.10625 18.4246 3.07538C20.3938 5.04451 21.5 7.71523 21.5 10.5ZM16.2894 6.52312C16.1956 6.4297 16.084 6.35614 15.9612 6.30685C15.8383 6.25755 15.7068 6.23353 15.5745 6.23623C15.4422 6.23892 15.3117 6.26828 15.191 6.32253C15.0703 6.37679 14.9617 6.45483 14.8719 6.552L10.3136 12.3598L7.5665 9.61144C7.3799 9.43756 7.13308 9.3429 6.87806 9.3474C6.62304 9.35189 6.37973 9.4552 6.19937 9.63556C6.01902 9.81591 5.91571 10.0592 5.91121 10.3143C5.90671 10.5693 6.00137 10.8161 6.17525 11.0027L9.64812 14.4769C9.74168 14.5703 9.85309 14.6438 9.9757 14.6932C10.0983 14.7426 10.2296 14.7668 10.3618 14.7644C10.494 14.7619 10.6243 14.7329 10.745 14.679C10.8657 14.6251 10.9743 14.5474 11.0643 14.4506L16.3038 7.90125C16.4824 7.71553 16.5811 7.46717 16.5787 7.20951C16.5762 6.95184 16.4728 6.70541 16.2907 6.52312H16.2894Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gFmRe4otLQ gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gvzxJfF47R" class="gp-leading-[0] gvzxJfF47R" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gvzxJfF47R" class="icon-wrapper gp-inline-flex gp-overflow-hidden gvzxJfF47R " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668406213117078" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M6.59709 6.09905C6.65805 6.03793 6.73047 5.98945 6.8102 5.95636C6.88993 5.92328 6.9754 5.90625 7.06172 5.90625C7.14804 5.90625 7.23351 5.92328 7.31324 5.95636C7.39297 5.98945 7.46538 6.03793 7.52634 6.09905L10.9992 9.57324L14.4721 6.09905C14.5331 6.03803 14.6055 5.98963 14.6853 5.95661C14.765 5.92359 14.8504 5.90659 14.9367 5.90659C15.023 5.90659 15.1085 5.92359 15.1882 5.95661C15.2679 5.98963 15.3403 6.03803 15.4013 6.09905C15.4624 6.16006 15.5108 6.2325 15.5438 6.31222C15.5768 6.39194 15.5938 6.47738 15.5938 6.56367C15.5938 6.64996 15.5768 6.73541 15.5438 6.81513C15.5108 6.89485 15.4624 6.96728 15.4013 7.0283L11.9272 10.5012L15.4013 13.974C15.4624 14.0351 15.5108 14.1075 15.5438 14.1872C15.5768 14.2669 15.5938 14.3524 15.5938 14.4387C15.5938 14.525 15.5768 14.6104 15.5438 14.6901C15.5108 14.7698 15.4624 14.8423 15.4013 14.9033C15.3403 14.9643 15.2679 15.0127 15.1882 15.0457C15.1085 15.0788 15.023 15.0958 14.9367 15.0958C14.8504 15.0958 14.765 15.0788 14.6853 15.0457C14.6055 15.0127 14.5331 14.9643 14.4721 14.9033L10.9992 11.4291L7.52634 14.9033C7.46533 14.9643 7.39289 15.0127 7.31317 15.0457C7.23345 15.0788 7.14801 15.0958 7.06172 15.0958C6.97543 15.0958 6.88999 15.0788 6.81027 15.0457C6.73055 15.0127 6.65811 14.9643 6.59709 14.9033C6.53608 14.8423 6.48768 14.7698 6.45466 14.6901C6.42164 14.6104 6.40464 14.525 6.40464 14.4387C6.40464 14.3524 6.42164 14.2669 6.45466 14.1872C6.48768 14.1075 6.53608 14.0351 6.59709 13.974L10.0713 10.5012L6.59709 7.0283C6.53598 6.96734 6.48749 6.89492 6.45441 6.81519C6.42133 6.73546 6.4043 6.64999 6.4043 6.56367C6.4043 6.47735 6.42133 6.39188 6.45441 6.31215C6.48749 6.23243 6.53598 6.16001 6.59709 6.09905Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gq0GZeLE4O"}' data-id="gq0GZeLE4O" id="gq0GZeLE4O" data-same-height-subgrid-container class="gq0GZeLE4O gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:24px;--pl-mobile:7px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:790px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gOW88oCMV2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="geSiWK4g2v"
        class="geSiWK4g2v"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pr-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggeSiWK4g2v_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-geSiWK4g2v">
        .geSiWK4g2v {

}
.geSiWK4g2v p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gLyE42geUq gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#313B1B","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4IqrdKtCQ"}' data-id="g4IqrdKtCQ" id="g4IqrdKtCQ" data-same-height-subgrid-container class="g4IqrdKtCQ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:-1px;--pt:24px;--pb:24px;--mt-mobile:-1px;--pt-mobile:23px;--pb-mobile:23px;--cg:8px;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:#313B1B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkkLqd7nrv gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gn2qWfAQah" class="gp-leading-[0] gn2qWfAQah" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gn2qWfAQah" class="icon-wrapper gp-inline-flex gp-overflow-hidden gn2qWfAQah " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668274696520854" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M21.5 10.5C21.5 13.2848 20.3938 15.9555 18.4246 17.9246C16.4555 19.8938 13.7848 21 11 21C8.21523 21 5.54451 19.8938 3.57538 17.9246C1.60625 15.9555 0.5 13.2848 0.5 10.5C0.5 7.71523 1.60625 5.04451 3.57538 3.07538C5.54451 1.10625 8.21523 0 11 0C13.7848 0 16.4555 1.10625 18.4246 3.07538C20.3938 5.04451 21.5 7.71523 21.5 10.5ZM16.2894 6.52312C16.1956 6.4297 16.084 6.35614 15.9612 6.30685C15.8383 6.25755 15.7068 6.23353 15.5745 6.23623C15.4422 6.23892 15.3117 6.26828 15.191 6.32253C15.0703 6.37679 14.9617 6.45483 14.8719 6.552L10.3136 12.3598L7.5665 9.61144C7.3799 9.43756 7.13308 9.3429 6.87806 9.3474C6.62304 9.35189 6.37973 9.4552 6.19937 9.63556C6.01902 9.81591 5.91571 10.0592 5.91121 10.3143C5.90671 10.5693 6.00137 10.8161 6.17525 11.0027L9.64812 14.4769C9.74168 14.5703 9.85309 14.6438 9.9757 14.6932C10.0983 14.7426 10.2296 14.7668 10.3618 14.7644C10.494 14.7619 10.6243 14.7329 10.745 14.679C10.8657 14.6251 10.9743 14.5474 11.0643 14.4506L16.3038 7.90125C16.4824 7.71553 16.5811 7.46717 16.5787 7.20951C16.5762 6.95184 16.4728 6.70541 16.2907 6.52312H16.2894Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g70HEQr1x4 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gqKZAdGh5T" class="gp-leading-[0] gqKZAdGh5T" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="gqKZAdGh5T" class="icon-wrapper gp-inline-flex gp-overflow-hidden gqKZAdGh5T " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668406213117078" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M6.59709 6.09905C6.65805 6.03793 6.73047 5.98945 6.8102 5.95636C6.88993 5.92328 6.9754 5.90625 7.06172 5.90625C7.14804 5.90625 7.23351 5.92328 7.31324 5.95636C7.39297 5.98945 7.46538 6.03793 7.52634 6.09905L10.9992 9.57324L14.4721 6.09905C14.5331 6.03803 14.6055 5.98963 14.6853 5.95661C14.765 5.92359 14.8504 5.90659 14.9367 5.90659C15.023 5.90659 15.1085 5.92359 15.1882 5.95661C15.2679 5.98963 15.3403 6.03803 15.4013 6.09905C15.4624 6.16006 15.5108 6.2325 15.5438 6.31222C15.5768 6.39194 15.5938 6.47738 15.5938 6.56367C15.5938 6.64996 15.5768 6.73541 15.5438 6.81513C15.5108 6.89485 15.4624 6.96728 15.4013 7.0283L11.9272 10.5012L15.4013 13.974C15.4624 14.0351 15.5108 14.1075 15.5438 14.1872C15.5768 14.2669 15.5938 14.3524 15.5938 14.4387C15.5938 14.525 15.5768 14.6104 15.5438 14.6901C15.5108 14.7698 15.4624 14.8423 15.4013 14.9033C15.3403 14.9643 15.2679 15.0127 15.1882 15.0457C15.1085 15.0788 15.023 15.0958 14.9367 15.0958C14.8504 15.0958 14.765 15.0788 14.6853 15.0457C14.6055 15.0127 14.5331 14.9643 14.4721 14.9033L10.9992 11.4291L7.52634 14.9033C7.46533 14.9643 7.39289 15.0127 7.31317 15.0457C7.23345 15.0788 7.14801 15.0958 7.06172 15.0958C6.97543 15.0958 6.88999 15.0788 6.81027 15.0457C6.73055 15.0127 6.65811 14.9643 6.59709 14.9033C6.53608 14.8423 6.48768 14.7698 6.45466 14.6901C6.42164 14.6104 6.40464 14.525 6.40464 14.4387C6.40464 14.3524 6.42164 14.2669 6.45466 14.1872C6.48768 14.1075 6.53608 14.0351 6.59709 13.974L10.0713 10.5012L6.59709 7.0283C6.53598 6.96734 6.48749 6.89492 6.45441 6.81519C6.42133 6.73546 6.4043 6.64999 6.4043 6.56367C6.4043 6.47735 6.42133 6.39188 6.45441 6.31215C6.48749 6.23243 6.53598 6.16001 6.59709 6.09905Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAz3K70ElH"}' data-id="gAz3K70ElH" id="gAz3K70ElH" data-same-height-subgrid-container class="gAz3K70ElH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 0px 0px 0px;--bc:#666666;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:24px;--pl-mobile:7px;--cg:0px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:790px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="giF6fF0vqv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gw9UIhG_Vd"
        class="gw9UIhG_Vd"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pr-mobile:7px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggw9UIhG_Vd_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gw9UIhG_Vd">
        .gw9UIhG_Vd {

}
.gw9UIhG_Vd p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="g0RckxAClt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#313B1B","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFlSWqf_IX"}' data-id="gFlSWqf_IX" id="gFlSWqf_IX" data-same-height-subgrid-container class="gFlSWqf_IX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:10px;--bbrr:10px;--btlr:0px;--btrr:0px;--mt:-1px;--pt:24px;--pb:24px;--mt-mobile:-1px;--pt-mobile:23px;--pb-mobile:23px;--cg:8px;--gtc:minmax(0, auto);--w:var(--g-ct-w, 1200px);--bgc:#313B1B;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gVcf0M5t7k gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gVer_ZpILE" class="gp-leading-[0] gVer_ZpILE" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gVer_ZpILE" class="icon-wrapper gp-inline-flex gp-overflow-hidden gVer_ZpILE " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668274696520854" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M21.5 10.5C21.5 13.2848 20.3938 15.9555 18.4246 17.9246C16.4555 19.8938 13.7848 21 11 21C8.21523 21 5.54451 19.8938 3.57538 17.9246C1.60625 15.9555 0.5 13.2848 0.5 10.5C0.5 7.71523 1.60625 5.04451 3.57538 3.07538C5.54451 1.10625 8.21523 0 11 0C13.7848 0 16.4555 1.10625 18.4246 3.07538C20.3938 5.04451 21.5 7.71523 21.5 10.5ZM16.2894 6.52312C16.1956 6.4297 16.084 6.35614 15.9612 6.30685C15.8383 6.25755 15.7068 6.23353 15.5745 6.23623C15.4422 6.23892 15.3117 6.26828 15.191 6.32253C15.0703 6.37679 14.9617 6.45483 14.8719 6.552L10.3136 12.3598L7.5665 9.61144C7.3799 9.43756 7.13308 9.3429 6.87806 9.3474C6.62304 9.35189 6.37973 9.4552 6.19937 9.63556C6.01902 9.81591 5.91571 10.0592 5.91121 10.3143C5.90671 10.5693 6.00137 10.8161 6.17525 11.0027L9.64812 14.4769C9.74168 14.5703 9.85309 14.6438 9.9757 14.6932C10.0983 14.7426 10.2296 14.7668 10.3618 14.7644C10.494 14.7619 10.6243 14.7329 10.745 14.679C10.8657 14.6251 10.9743 14.5474 11.0643 14.4506L16.3038 7.90125C16.4824 7.71553 16.5811 7.46717 16.5787 7.20951C16.5762 6.95184 16.4728 6.70541 16.2907 6.52312H16.2894Z" fill="white"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gBF9VN9dFY gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g_7LdjlIKr" class="gp-leading-[0] g_7LdjlIKr" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center">
      <div data-id="g_7LdjlIKr" class="icon-wrapper gp-inline-flex gp-overflow-hidden g_7LdjlIKr " style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:#00000000">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:21px;--w-mobile:18px;--h:21px;--h-mobile:18px;--minw:21px;--minw-mobile:18px;--height-desktop:21px;--height-tablet:21px;--height-mobile:18px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg data-id="516668406213117078" xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
<path d="M6.59709 6.09905C6.65805 6.03793 6.73047 5.98945 6.8102 5.95636C6.88993 5.92328 6.9754 5.90625 7.06172 5.90625C7.14804 5.90625 7.23351 5.92328 7.31324 5.95636C7.39297 5.98945 7.46538 6.03793 7.52634 6.09905L10.9992 9.57324L14.4721 6.09905C14.5331 6.03803 14.6055 5.98963 14.6853 5.95661C14.765 5.92359 14.8504 5.90659 14.9367 5.90659C15.023 5.90659 15.1085 5.92359 15.1882 5.95661C15.2679 5.98963 15.3403 6.03803 15.4013 6.09905C15.4624 6.16006 15.5108 6.2325 15.5438 6.31222C15.5768 6.39194 15.5938 6.47738 15.5938 6.56367C15.5938 6.64996 15.5768 6.73541 15.5438 6.81513C15.5108 6.89485 15.4624 6.96728 15.4013 7.0283L11.9272 10.5012L15.4013 13.974C15.4624 14.0351 15.5108 14.1075 15.5438 14.1872C15.5768 14.2669 15.5938 14.3524 15.5938 14.4387C15.5938 14.525 15.5768 14.6104 15.5438 14.6901C15.5108 14.7698 15.4624 14.8423 15.4013 14.9033C15.3403 14.9643 15.2679 15.0127 15.1882 15.0457C15.1085 15.0788 15.023 15.0958 14.9367 15.0958C14.8504 15.0958 14.765 15.0788 14.6853 15.0457C14.6055 15.0127 14.5331 14.9643 14.4721 14.9033L10.9992 11.4291L7.52634 14.9033C7.46533 14.9643 7.39289 15.0127 7.31317 15.0457C7.23345 15.0788 7.14801 15.0958 7.06172 15.0958C6.97543 15.0958 6.88999 15.0788 6.81027 15.0457C6.73055 15.0127 6.65811 14.9643 6.59709 14.9033C6.53608 14.8423 6.48768 14.7698 6.45466 14.6901C6.42164 14.6104 6.40464 14.525 6.40464 14.4387C6.40464 14.3524 6.42164 14.2669 6.45466 14.1872C6.48768 14.1075 6.53608 14.0351 6.59709 13.974L10.0713 10.5012L6.59709 7.0283C6.53598 6.96734 6.48749 6.89492 6.45441 6.81519C6.42133 6.73546 6.4043 6.64999 6.4043 6.56367C6.4043 6.47735 6.42133 6.39188 6.45441 6.31215C6.48749 6.23243 6.53598 6.16001 6.59709 6.09905Z" fill="#242424"/>
</svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-596670648873386598 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/code2goo/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=596670602450830310&sectionId=596670648873386598)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggk2Sgi8IVM_text","label":"ggk2Sgi8IVM_text","default":"Us vs Them"},{"type":"html","id":"ggwCExnOGtx_text","label":"ggwCExnOGtx_text","default":"GEMBEAU"},{"type":"html","id":"gg7LReiPTdr_text","label":"gg7LReiPTdr_text","default":"<p>Cosmetic</p>"},{"type":"html","id":"ggRqVqNOg3t_text","label":"ggRqVqNOg3t_text","default":"<p>Other</p>"},{"type":"html","id":"gghIheYeQbe_text","label":"gghIheYeQbe_text","default":"<p>Nourishing formula</p>"},{"type":"html","id":"ggbm3RkMrKV_text","label":"ggbm3RkMrKV_text","default":"<p>Anti-aging properties</p>"},{"type":"html","id":"ggOGodoJR5n_text","label":"ggOGodoJR5n_text","default":"<p>Brightening effect</p>"},{"type":"html","id":"ggeSiWK4g2v_text","label":"ggeSiWK4g2v_text","default":"<p>Non-greasy formula</p>"},{"type":"html","id":"ggw9UIhG_Vd_text","label":"ggw9UIhG_Vd_text","default":"<p>Pore refinement</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}